* {
    padding: 0;
    margin: 0;
}
body {
    height: 230vh;
    background-color: var(--bg-black-900);
    overflow-x: hidden;
}

/*----------------------------home----------------------------*/
.container-home {
    width: 100%;
    height: 20vh;
}
.home {
    width: 100%;
    height: 20vh;
}
.img-fundo img {
    width: 100%;
    height: 20vh;
    position: absolute;
}
.logo-home img {
    width: 100px;
    margin-left: 10px;
    margin-top: -70px;
    position: fixed;
}
.txt-home h1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    font-family: 'sour gummy', sans-serif;
    font-size: 30px;
    color: #fff;
}
/*----------------------------atividades----------------------------*/
.atividade-mes {
    width: 100%;
    height: 250px;
    background-color: rgb(255, 132, 0);
}
.atividade-creche {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.atividade-creche img {
    width: 16%;
    margin-left: 50px;
}
.atividade-creche p {
    width: 50%;
    font-size: 17px;
    font-family: 'Nunito', sans-serif;
    margin-left: 20%;
    text-align: justify;
}

/*----------------------------whats----------------------------*/
.whats a{
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: #35c40a;
    text-align: center;
    font-size: 60px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.whats a:hover{
    transform: scale(1.1);
    transition: all 0.5s ease;
}

/*----------------------------end----------------------------*/
.container-end {
    height: 30vh;
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: center;
}
.end-link {
    display: flex;
    width: 60%;
}
.container-end h1 {
    font-family: 'sour gummy', sans-serif;
    margin-top: 10px;
}
.link {
    margin-left: 10%;
}
.patrocino {
    margin-left: 10%;
}
.link a {
    display: flex;
    flex-direction: column;
    color: #fff;
    text-decoration: none;
    padding: 3px;
}
.end a{
    text-decoration: none;
    color: #fff;
}
