* {
    padding: 0;
    margin: 0;
}
body {
    height: 530vh;
    background-color: var(--bg-black-900);
    overflow-x: hidden;
}

/*----------------------------home----------------------------*/
.container-home {
    width: 100%;
    height: 20vh;
}
.home {
    width: 100%;
    height: 20vh;
}
.img-fundo img {
    width: 100%;
    height: 20vh;
    position: absolute;
}
.logo-home img {
    width: 100px;
    margin-left: 10px;
    margin-top: -50px;
    position: fixed;
}
.txt-home h1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    font-family: 'sour gummy', sans-serif;
    font-size: 30px;
    color: #fff;
}

/*----------------------------whats----------------------------*/
.whats a{
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: #35c40a;
    text-align: center;
    font-size: 60px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.whats a:hover{
    transform: scale(1.1);
    transition: all 0.5s ease;
}